body {
  background-color: #375E97;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

a {
  text-decoration: none;
}

main {
  background-color: #FFBB00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #3F681C;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  padding: 2rem 0;
}

h1 {
  margin: 2rem 1rem 2rem 1rem;
  color: white;
}

h2 {
  margin: auto 2rem;
}

.artObject {
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 20rem;
  margin: 1rem;
  transition: transform .2s;
}

.artObject:hover {
  transform: scale(1.2);
  box-shadow: 0 80px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 600px) {
  main {
    margin: 0;
    padding: 0 0 1rem 0;
    width: 100%;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  h2 {
    padding: 0.5rem;
  }

  .artObject {
    border-radius: 1rem;
    box-shadow: none;
    height: 10rem;
    margin: 1rem;
  }

  .artObject:hover {
    transform: none;
    box-shadow: none;
  }
}

footer {
  color: white;
}

.heart {
  color: #FB6542;
}