body {
  background-color: #375E97;
  font-family: 'Staatliches', monospace;
  text-align: center;
}

a {
  text-decoration: none;
}

main {
  background-color: #FFBB00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #3F681C;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  padding: 2rem 0;
}

h1 {
  margin: 2rem 1rem 2rem 1rem;
  color: white;
}

h2 {
  margin: auto 2rem;
}

.artObject {
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem;
}

#comments {
  margin: 2rem 1rem 2rem 1rem;
}

#comment {
  margin: 1rem auto;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 50%;
}

.formSection {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

form {
  margin: 2rem auto;
  width: 50%;
  min-width: 15rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
}

label {
  display: inline-block;
  width: 80%;
}

input,
textarea {
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #999;
  min-height: 2rem;
  font-size: 1.2rem;
}

button {
  font: inherit;
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: black;
}

footer {
  color: white;
}

.heart {
  color: #FB6542;
}